<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header_nav">
           <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
            <div class="navigation_buttons_group">
                <a href="/" class ="navigation_button">Поиск</a>
                <a href="/profile" class ="navigation_button">Личный кабинет</a>
                <a href="/Catalog" class ="navigation_button">Каталог</a>
            </div>
            <button class="login__nav_button"> 
              <a href="/login">Войти</a>
            </button>
        </div>  
    </header>

    <main>
        <section class="user_data">
            
        </section>

        <section class="by_history">

        </section>
    </main>

 <footer>
        <div class="footer_groups">
            <h3>Контакты</h3>
            <label>(8-800-999-55-99)</label>
            <label>best@games.ru</label>
        </div>

       <div class="footer_groups">
            <h3>Навигация</h3>
            <a href="/">Главная</a>
            <a href="/register">Регистрация</a>
            <a href="/login">Авторизация</a>
            <a href="/profile">Личный кабинет</a>
            <a href="/Catalog">Поиск</a>
        </div>
    </footer>
</body>
</html>