<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header_nav">
           <img src="/img/logo.svg" alt="logo">
            <div class="navigation_buttons_group">
                <a href="#" class ="navigation_button">Поиск</a>
                <a href="#" class ="navigation_button">Личный кабинет</a>
                <a href="#" class ="navigation_button">Каталог</a>
            </div>
            <button class="login__nav_button">Войти</button>
        </div>  
    </header>

    <main>
        <div class="register_field_group">
            <h3>Регистрация</h3>
            <input class="input_field" placeholder="Email" type="email">
            <input class="input_field" placeholder="Fullname">
            <input class="input_field" placeholder="Name">
            <input class="input_field" placeholder="Date" type="date">
            <input class="input_field" placeholder="Phone" type="Phone">
            <input class="input_field" placeholder="Password" type="password">
            <input class="input_field" placeholder="Password replay" type="password">
            <form class="data_checkbox">
                <input id="personal_data" name="check" type="checkbox">
                <label for="personal_data">Подтверждаю согласие на обработку персональных данных</label>
            </form>
            <button class="login_button">Войти</button>
        </div>
    </main>
 <footer>
        <div class="footer_groups">
            <h3>Контакты</h3>
            <label>(8-800-999-55-99)</label>
            <label>best@games.ru</label>
        </div>

        <div class="footer_groups">
            <h3>Навигация</h3>
            <a href="index.html">Главная</a>
            <a href="register.html">Регистрация</a>
            <a href="login.html">Авторизация</a>
            <a href="profile.html">Личный кабинет</a>
            <a href="Catalog.html">Поиск</a>
        </div>
    </footer>
</body>
</html>