<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="Title">
            <h3>Админ панель платформы онлайн обучения</h3>
        </div>
    </header>
    <main>
        <div class="login_group">
            <form class="login_form" action="/login" method="POST">
                <h3>Вход</h3>
                <input class="login_input" placeholder="E-mail" type="email" name="email" required>
                <input class="login_input" placeholder="Пароль" type="password" name="pass" required>
                <button class="login_button" type="submit">Войти</button>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>