#dark-theme{

}

body{
    background: white;
    color: black;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#container{
    background: rgb(136, 134, 134);
    margin: 30px auto;
    width: 900px;
    height: 1000px;
}
#header{
    background: rgb(100, 99, 99);
    width: 900px;
    height: 200px;
}
#navigation{
    background: rgb(85, 60, 60);
    width: 900px;
    height: 20px;
}
#menu{
    background: rgb(136, 134, 134);
    float: left;
    width: 200px;
    height: 600px;
}
#content{
    background: rgb(228, 184, 184);
    float: right;
    width: 70px;
    height: 600px;
}
#footer{
    background: rgb(136, 134, 134);
    width: 900px;
    height: 180px;
}
#clear{
    clear: both;
}