* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #161420;
    color: #fff;
}

ul{
    list-style-type: none;
        display: flex;
}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
        font-size: 15pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-btn{
    background-color: #ff3a3a;
     border-radius: 15%;
    padding: 12px;
    font-size: 15pt;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    background-color: #1d1835;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 45px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #ff3a3a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer{
    background-color: #1d1835;
    width: 100%;
    padding: 40px 0 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
}

.footer-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 40px;
}

.footer-bottom{
    display: grid;
    margin-top: auto;
    text-align: center;
     grid-row: 2;
}

.footer_contacts,
.footer_nav,
.footer_info {
    text-align: left;
    display: flex;
    flex-direction: column;
}