* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #161420;
    color: #fff;
}

/* BODY HEADER */
.nav_ul{
    list-style-type: none;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
        font-size: 15pt;
        font-family: var(--font-primary), sans-serif;
}

.login-btn{
    background-color: #ff3a3a;
     border-radius: 15%;
    padding: 12px;
    font-size: 15pt;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    background-color: #1d1835;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 45px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #ff3a3a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* BODY MAIN  */

/* BODY SLIDER */




/* BODY FOOTER */
footer{
    background-color: #1d1835;
    width: 100%;
    padding: 40px 0 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.footer-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer_top_ul{
    list-style-type: none;
}

.footer-bottom{
    display: grid;
    margin-top: auto;
    text-align: center;
     grid-row: 2;
}

/* LOGIN */

.login {
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-main);
    padding: var(--gap-md) 0;
}

.login_container{
    background-color: midnightblue;
    padding: 30px;
    border-radius: var(--border-radius-md);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.login_title{
    text-align: center;
    grid-row: 1;
}

.login_input-group{
    display: grid;
    grid-row: 2;
    width: 90%;
}

.login_submit-btn{
    grid-row: 3;
    width: 50%;
    height: 50px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.login_links{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    margin-top: var(--gap-md);
    text-align: center;
}