<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestGames - Маркетплейс игр</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="header">
    <div class="container">
        <div class="logo">BG</div>
        <nav class="navbar">
            <ul class="nav_ul">
                <li>
                     <a href="#" class="nav-link">Поиск</a>
                </li>   
                <li>
                     <a href="{{ url_for('profile') }}" class="nav-link">Личный кабинет</a>
                </li>  
                <li>
                     <a href="{{ url_for('catalog') }}" class="nav-link">Каталог игр</a>
                </li>         
            </ul>
        </nav>
        <div class="header_auth_button">
            <a href="{{ url_for('login') }}"  class="login-btn">Войти</a>
        </div>
    </div>
    </header>

    <main class="main">
        <section class="slider">
            <div class="slider_container">
                <div class="slider__slide">
                    <div class="slider__slide-content">
                        <h2 class="slider__slide-title">DOOM 2016</h2>
                        <p class="slider__slide-price">1499 ₽</p>
                        <a href="#" class="slider__slide-link focus-outline">Подробнее</a>
                    </div>
                    <div class="slider__slide-image-wrapper">
                        <img class="slider__slide-image" src="{{ url_for('static', filename='images/doom.webp') }}"  alt="Обложка игры 'DOOM 2016'">
                    </div>
                </div>
            </div>
        </section>

        <section class="search">

        </section>

        <section class="advantages">

        </section>
        
    </main>

    <footer class="footer" id="footer">
        <div class="footer-top">
            <div>
                <h3>Контакты</h3>
                <ul class="footer_top_ul">
                    <li><a href="#" class="footer-link">8-800-999-55-99</a></li>
                    <li> <a href="#" class="footer-link">best@games.ru</a>  </li>
                </ul>    
            </div>
            <div class="footer_nav">
                <ul class="footer_top_ul">
                    <li><h3>Навигация</h3></li>                    
                    <li><a href="index.html" class="footer__nav-link focus-outline">Главная</a>
                    </li>
                    <li><a href="register.html" class="footer__nav-link focus-outline">Регистрация</a>
                    </li>
                    <li><a href="login.html" class="footer__nav-link focus-outline">Авторизация</a></li>
                    <li><a href="profile.html" class="footer__nav-link focus-outline">Личный кабинет</a></li>
                    <li><a href="#search" class="footer__nav-link focus-outline">Поиск</a></li>
                </ul>
            </div>
            <div class="footer_info">
            <ul class="footer_top_ul">
                <li> <h3>Информация</h3></li>                    
                <li><a href="{{ url_for('admin') }}" class="footer__nav-link focus-outline">Клиент</a>
                </li>
                <li><a href="{{ url_for('admin') }}" class="footer__nav-link focus-outline">Партнер</a>
                </li>
                <li><a href="login.html" class="footer__nav-link focus-outline">О нас</a></li>
                <li><a href="#search" class="footer__nav-link focus-outline">Контакты</a></li>
            </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer__copyright">© 2025 BestGames. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>